{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Détails de la demande{% endblock %}

{% block main %}
    {% set disabled = '' %}
    {# bloc récapulatif et boutons d'actions #}
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Récapitulatif du Devis</div>
                <div class="card-body offset-6 col-6">
                    <table class="table align-middle">
                        <tr>
                            <td>Total des produits (HT):</td>
                            <td class="text-end">{{ (totalPriceExcludingTaxOnlyPieces / 100) |number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td>Frais de préparation (HT):</td>
                            <td class="text-end">{{ ( preparationHt / 100) |number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td>Frais de livraison (HT):</td>
                            <td class="text-end">{{ (deliveryCost / 100) | number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td>Total HT:</td>
                            <td class="text-end fw-bolder">{{ (totalPriceExcludingTax / 100 ) | number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <td>Total TTC:</td>
                            <td class="text-end fw-bolder">{{ (totalPriceExcludingTax * ( 1 + (tax.value / 100)) / 100 ) | number_format(2, ',', ' ') }} €</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-2">
                <div class="card-header">Informations</div>
                <div class="card-body d-flex justify-content-start">
                    <table class="table-striped col-12">
                        <tr>
                            <td>Date de la demande:</td><td class="text-end">{{ quoteRequest.createdAt | date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td>Numéro de demande:</td><td class="text-end">{{ quoteRequest.number }}</td>
                        </tr>
                        <tr>
                            <td>Fin de validité:</td><td class="text-end">{{ quoteRequest.document ? quoteRequest.document.endOfQuoteValidation | date('d/m/Y') : 'Pas de devis pour le moment...' }}</td>
                        </tr>
                        <tr>
                            <td>Envoyé par email le:</td><td class="text-end">{{ quoteRequest.sendByEmailAt ? quoteRequest.sendByEmailAt | date('d/m/Y') : 'Pas de devis pour le moment...' }}</td>
                        </tr>
                        <tr>
                            <td>Status:</td><td class="text-end">
                                {% if quoteRequest.document is not null %}
                                    Devis {{ quoteRequest.document }} créé.
                                    {% else %}
                                    Pas de devis pour le moment...
                                {% endif %}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex justify-content-around align-items-center">
                    {% if activeButtonToSendDevisIfAllLinesAreRenseigned == true and quoteRequest.document is null %}
                        <a class="col btn btn-success m-2" href="{{path('admin_manual_quote_request_send_mail', {'quoteRequestId': quoteRequest.id, 'action': 'quoteRequestSendMailToCustomerWithPrices' }) }}">Envoyer le devis<br/><small>(et vérouiller la demande)</small></a>
                    {% endif %}
                    {% if activeButtonToSendDevisIfAllLinesAreRenseigned == false and quoteRequest.document is null %}
                        <a class="col btn btn-warning m-2" href="{{path('admin_manual_quote_request_send_mail', {'quoteRequestId': quoteRequest.id, 'action': 'quoteRequestSendMailToCustomerWithoutPrices' }) }}">Envoyer le devis<br/><small>(pas de pièces)</small></a>
                    {% endif %}
                    {% if quoteRequest.document is not null %}
                        <a class="col btn btn-success m-2" href="{{path('admin_manual_quote_request_send_mail', {'quoteRequestId': quoteRequest.id, 'action': 'quoteRequestSendMailToCustomerWithPrices' }) }}">Réenvoyer le devis</a><br/>
                    {% endif %}
                    <a class="col btn btn-primary m-2" href="{{ ea_url().setController('App\\Controller\\Admin\\EasyAdmin\\QuoteRequestCrudController').setAction('index')}}">Retour aux demandes de devis</a><br/>
                </div>
            </div>
        </div>
    </div>
    
    {# bloc des différentes lignes de la demande de devis  #}
    <div class="row justify-content-center">
        {% if quoteRequest.quoteRequestLines is not empty %}
            {% for line in quoteRequest.quoteRequestLines %}              
                {# Récupérez le formulaire correspondant à cette ligne #}
                {% set currentForm = forms[line.id] %}
                
                {# DÉBOGAGE : Vérifiez si currentForm est null avant de rendre #}
                {% if currentForm is not null %}
                    {{ form_start(currentForm) }}
                        <div class="card mb-3">
                            <div class="card-header">Boite: {{ line.boite.name }} - {{ line.boite.editor }} - {{ line.boite.year }} Référence: {{ line.boite.id }}</div>
                            <div class="card-body d-flex flex-wrap justify-content-around">
                                <div class="card_div_img p-0 col-12 col-md-2 text-center">
                                    <img class="card_catalog_img" src="{{ vich_uploader_asset(line.boite, 'imageFile') | imagine_filter('boite') }}" alt="Image de la boite de jeu {{ line.boite.name }} - {{ line.boite.editor }}"/>
                                </div>
                                <div class="col-8 d-flex flex-wrap justify-content-around">
                                    <div class="col-12 mb-2">
                                        {{ form_row(currentForm.question) }}
                                    </div>
                                    <div class="col-12 mb-3">
                                        {{ form_row(currentForm.answer) }}
                                    </div>
                                    {# <div class="col-5">
                                        {{ form_row(currentForm.weight) }}
                                    </div> #}
                                    <div class="col-5">
                                        {{ form_row(currentForm.priceExcludingTax) }}
                                    </div>
                                </div>                               
                            </div>
                            <div class="card-footer text-center">
                                {% if quoteRequest.document is not null %}
                                    {% set disabled = 'disabled' %}
                                {% endif %}                            
                                <button type="submit" class="btn btn-success {{ disabled }}">Mettre à jour cette ligne</button>
                            </div>
                        </div>
                    {{ form_end(currentForm) }}
                {% else %}
                    {# Ce bloc sera exécuté si forms[line.id] est null #}
                    <p style="color: red;">Erreur : Formulaire introuvable pour la ligne #{{ line.id }}</p>
                    {# Vous voudrez peut-être journaliser ceci ou ajouter un message flash dans le contrôleur #}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucune ligne de demande de devis n'est disponible.</p>
        {% endif %}

    </div>

    {# bloc client et adresses #}
    <div class="row justify-content-center align-items-start mb-3">
        <div class="col-12 col-sm-11 col-md-9 col-lg-4">
            <div class="card">
                <div class="card-header">Client</div>
                <div class="card-body">
                    {{ quoteRequest.user.email }}<br/>
                    {{ quoteRequest.user.phone }}<br/>
                    {{ quoteRequest.user.country }}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-11 col-md-9 col-lg-4">
            <div class="card">
                <div class="card-header">Adresse de facturation</div>
                <div class="card-body">
                    {{ quoteRequest.billingAddress.lastname }} {{ quoteRequest.billingAddress.firstname }}<br/>
                    {{ quoteRequest.billingAddress.street }}<br/>
                    {{ quoteRequest.billingAddress.city }}
                </div>
            </div>
        </div>
                <div class="col-12 col-sm-11 col-md-9 col-lg-4 d-flex flex-column">
            <div class="card">
                <div class="card-header">Adresse de livraison</div>
                <div class="card-body">
                    {% if quoteRequest.deliveryAddress is not null %}
                        {{ quoteRequest.deliveryAddress.lastname }} {{ quoteRequest.deliveryAddress.firstname }}<br/>
                        {{ quoteRequest.deliveryAddress.street }}<br/>
                        {{ quoteRequest.deliveryAddress.city }}
                    {% else %}
                        {{ quoteRequest.collectionPoint.organization }}<br/>
                        {% if quoteRequest.collectionPoint.lastname is not null %}
                        {{ quoteRequest.collectionPoint.lastname }} {{ quoteRequest.collectionPoint.firstname }}<br/>
                        {% endif %}
                        {{ quoteRequest.collectionPoint.street }}<br/>
                        {{ quoteRequest.collectionPoint.city }}  
                    {% endif %}
                </div>
            </div>
            {% if quoteRequest.shippingMethod.price != "GRATUIT" %}
                <div class="card mt-3">
                    <div class="card-header">Prix total de la livraison HT (en €)</div>
                    <div class="card-body text-center">
                        {{ form_start(manualDeliveryPriceForm) }}
                            {{ form_row(manualDeliveryPriceForm.price) }}
                            <button type="submit" class="btn btn-success mt-2 {{ disabled }}">Mettre à jour le prix de livraison</button>
                        {{ form_end(manualDeliveryPriceForm) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}